{% extends "bootstrap/base.html" %}

{% block head %}

{{ super() }}
<script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}  




<head>
<link rel="shortcut icon" href="/static/favicon.ico">
</head>

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cryptfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Portfolio Valuation</a></li>
      <li><a href="#">Historical</a></li>
      <li><a href="/nfl/" target="_blank">NFL on sky</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Aliens</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Way Out</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
