{% extends "layout.html" %}



{% block title %}
{{ super() }}

NFL on sky

{% endblock %}



{% block content %}

<div class="container">
    <div class="page-header">
        <h1>Shows this week <small> starting {{ start_day }} </small></h1>
    </div>
</div>


<div class="container">
  <table class="table table-striped">
      <thead>
<!-- table header row -->
        <th><p>Day</p></th>
        <th><p>Game</p></th>
        <th><p>Type</p></th>
        <th><p class="text-right">Time</p></th>
     
      </thead>

      <tbody>
        {% for d in out %}
            <tr>
              <td><div><strong>{{out[d]['day']}}</strong></div>
                  <div>{{ d }}</div>
                  </td>

              <td>{% for game in out[d]['games'] %}
                <div class={{ game['type'] }}>{{ game['game'] }}</div>
                {% endfor %}
                </td>

              <td>{% for game in out[d]['games'] %}
                <div class={{ game['type'] }}>{{ game['type'] }}</div>
                {% endfor %}
                </td>

              <td class="text-right">{% for game in out[d]['games'] %}
                <div class={{ game['type'] }}>{{ game['time'] }}</div>
                {% endfor %}
                </td>

            </tr>
        {% endfor %}



      </tbody>

  </table>
</div>

<style type="text/css">
  
.HIGHLIGHTS {
  color: #990000;
}

#nfl {
  font-weight: bold;
}
</style>



{% endblock %}
