<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cryptofolio</title>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="300">     
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cryptfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Portfolio Valuation</a></li>
      <li><a href="#">Currencies</a></li>
      <li><a href="#">Assets & Tokens</a></li>
      <li><a href="#">Historical</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Aliens</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Way Out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Portfolio valuation <small>at {{ timestamp }}</small></h2>
  {% if debg %}
  <h2>debug  {{ debg }}</h2>
  {% endif %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Coin</th>
        <th><p class="text-right">Price, £</p></th>
        <th><p class="text-right">last, £</p></th>
        <th><p class="text-right">change, £</p></th>
        <th><p class="text-right">Volume</p></th>
        <th><p class="text-right">Value, £</p></th>
        <th><p class="text-right">last, £</p></th>
        <th><p class="text-right">change, £</p></th>
        <th><p class="text-right">Share</p></th>
        <th><p class="text-right">Weight</p></th>
        <th><p class="text-right">£PPPW</p></th>
      </tr>
    </thead>
    <tbody>
    {% for k in out_dict %}
     
      <tr>
        <td>{{ k }}</td>
        <td><p class="text-right">{{ "{:>0,.2f}".format(out_dict[k][0]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.2f}".format(out_dict[k][-1]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.2f}".format(out_dict[k][0]-out_dict[k][-1]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.2f}".format(out_dict[k][1]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.0f}".format(out_dict[k][2]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.0f}".format(out_dict[k][-1]*out_dict[k][1]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.0f}".format((out_dict[k][-1]*out_dict[k][1])-out_dict[k][2]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.1f}%".format(out_dict[k][3]) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.2f}".format(out_dict[k][4]/100) }}</p></td>
        <td><p class="text-right">{{ "{:>0,.0f}".format(out_dict[k][5]) }}</p></td>
      </tr>
    
    {% endfor %}

      <tr>
        <td><strong> TOTAL </strong></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><strong><p class="text-right">{{ "{:>0,.0f}".format(total) }}</strong></p></td>
        <td><strong><p class="text-right">{{ "{:>0,.0f}".format(last_total) }}</strong></p></td>
        <td><strong><p class="text-right">{{ "{:>0,.0f}".format(total-last_total) }}</strong></p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
      </tr>

    </tbody>
  </table>

  <h2><small>Last valued at {{ last_time }}</small></h2>

</div>

<div class="container">
  <img src="/static/history.jpg"> 
</div>


<!-- <div class="container">
  <img src="/static/pie.jpg" width="304" height="236"> 
</div> -->


<p>Bitcoin block height is {{ blockh }} </p>
<p>Next segwit activation period begins 477792, ends 479808</p>
{%  if 477792 > blockh %}
<p>So {{ 477792 - blockh }} before it begins, or {{ "{:0.1f}".format(((477792 - blockh)*10)/(60*24)) }} days</p>
{% else %}
<p>So {{ 479808 - blockh }} before it ends</p>
{% endif %}
<p></p>
<p>{{ timestamp }}</p>


</body>

</html>
