{% extends "bootstrap/base.html" %}

{% block title %}
  £{{ "{:,.0f}".format(total) }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cryptfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Portfolio Valuation</a></li>
      <li><a href="#">Historical</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Aliens</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Way Out</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Portfolio valuation <small> at {{ t_now }}</small></h1>
    </div>
</div>

<div class="container">
  <table class="table table-striped">
      <thead>
        <th><p class="text-left">Coin</p></th>
        <th><p class="text-left">Ticker</p></th>
        <th><p class="text-right">Price, £</p></th>
        <th><p class="text-right">24h change, £</p></th>
        <th><p class="text-right">Price, $</p></th>
        <th><p class="text-right">Volume</p></th>
        <th><p class="text-right">Value, £</p></th>
        <th><p class="text-right">24h change, £</p></th>
        <th><p class="text-right">%</p></th>
        <th><p class="text-right">Share</p></th>
        <th><p class="text-right">Weight</p></th>
        <th><p class="text-right">£PPPW</p></th>        
      </thead>

      <tbody>
        {% for i in df.index %}
            <tr>
              <td>{{ i.title() }}</td>
              <td>{{ df.loc[i,'ticks'] }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'prices_gbp']) }}</td>

              {% if df.loc[i,'ch24h_gbp']>0 %} <td class="text-right bg-success">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% elif df.loc[i,'ch24h_gbp']<0 %} <td class="text-right bg-danger">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% else %} <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% endif %}

              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'prices_usd']) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'vols']) }}</td>
              <td class="text-right">{{ "{:>0,.0f}".format(df.loc[i,'values']) }}</td>

              {% if df.loc[i,'value_24h_ch']>0 %} <td class="text-right bg-success">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% elif df.loc[i,'value_24h_ch']<0 %} <td class="text-right bg-danger">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% else %} <td class="text-right">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% endif %}

              {% if df.loc[i,'val_pcent_24h_ch']>0 %} <td class="text-right bg-success">{{ "{:>0,.1f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% elif df.loc[i,'val_pcent_24h_ch']<0 %} <td class="text-right bg-danger">{{ "{:>0,.1f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% else %} <td class="text-right">{{ "{:>0,.0f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% endif %}

              <td class="text-right">{{ "{:>0,.1f}%".format(df.loc[i,'shares']*100) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'weight']) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'£PPPW']) }}</td>


            </tr>
        {% endfor %}

      <tr>
        <td><strong> TOTAL </strong></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><strong><p class="text-right">{{ "{:>0,.0f}".format(total) }}</strong></p></td>


            {% if total_ch >0 %} <td class="text-right bg-success"><strong>{{ "{:>0,.0f}".format(total_ch) }}</strong></td>
            {% elif total_ch <0 %} <td class="text-right bg-danger"><strong>{{ "{:>0,.0f}".format(total_ch) }}</strong></td>
            {% else %} <td class="text-right"><strong>{{ "{:>0,.0f}".format(total_ch) }}</strong></td>
            {% endif %}

            {% if total_perc_ch >0 %} <td class="text-right bg-success"><strong>{{ "{:>0,.1f}%".format(total_perc_ch*100) }}</strong></td>
            {% elif total_perc_ch <0 %} <td class="text-right bg-danger"><strong>{{ "{:>0,.1f}%".format(total_perc_ch*100) }}</strong></td>
            {% else %} <td class="text-right"><strong>{{ "{:>0,.1f}%".format(total_perc_ch*100) }}</strong></td>
            {% endif %}

        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
        <td><p class="text-right"> </p></td>
      </tr>

      </tbody>

  </table>
</div>

<div class="container">
    <a href="/reset/"">reload portfolio</a>
</div>


{% endblock %}
