{% extends "layout.html" %}

{% block head %}

{{ super() }}
<meta http-equiv="refresh" content="300"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}  

{% block title %}
{{ super() }}

{{ "£{:0,.0f}".format(totals['total']) }}

{% endblock %}


{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Portfolio Value <small>for {{ user }} at {{ t_now }}</small></h1>
    </div>
</div>

<div class="container">
  <table class="table table-striped">
      <thead>
<!-- table header row -->
        <th><p class="text-left">Coin</p></th>
        <th><p class="text-left">Ticker</p></th>
        <th><p class="text-right">Price, £</p></th>
        <th><p class="text-right">change</p></th>
        <th><p class="text-right">Price, $</p></th>
        <th><p class="text-right">Price, m<i class="fa fa-btc"></i></p></th>
        <th><p class="text-right">Volume</p></th>
        <th><p class="text-right">Value, £</p></th>
        <th><p class="text-right">change</p></th>
        <th><p class="text-right">%</p></th>
        <th><p class="text-right">Value, <i class="fa fa-btc"></i></p></th>
        <th><p class="text-right">Share</p></th>
        <th><p class="text-right">Weight</p></th>
        <th><p class="text-right">£PPPW</p></th>        
        <th><p class="text-right">&#950</p></th>        
      </thead>

      <tbody>
<!-- table body - loop thru coins -->
        {% for i in df.index %}
            <tr class={{i}}>
              <td>{{ i.title() }}</td>
              <td>{{ df.loc[i,'ticks'] }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'prices_gbp']) }}</td>

<!-- colour change block -->
              {% if df.loc[i,'ch24h_gbp']>0 %} <td class="text-right bg-success">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% elif df.loc[i,'ch24h_gbp']<0 %} <td class="text-right bg-danger">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% else %} <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% endif %}

              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'prices_usd']) }}</td>
              <td class="text-right">{{ "{:>0,.1f}".format(df.loc[i,'prices_btc']*1000) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'vols']) }}</td>
              <td class="text-right">{{ "{:>0,.0f}".format(df.loc[i,'values']) }}</td>

<!-- colour change block -->
              {% if df.loc[i,'value_24h_ch']>0 %} <td class="text-right bg-success">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% elif df.loc[i,'value_24h_ch']<0 %} <td class="text-right bg-danger">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% else %} <td class="text-right">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% endif %}

              {% if df.loc[i,'val_pcent_24h_ch']>0 %} <td class="text-right bg-success">{{ "{:>0,.1f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% elif df.loc[i,'val_pcent_24h_ch']<0 %} <td class="text-right bg-danger">{{ "{:>0,.1f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% else %} <td class="text-right">{{ "{:>0,.0f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% endif %}

              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'values_btc']) }}</td>

              <td class="text-right">{{ "{:>0,.1f}%".format(df.loc[i,'shares']*100) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'weight']) }}</td>
              <td class="text-right" id="pppw">{{ "{:>0,.0f}".format(df.loc[i,'£PPPW']) }}</td>
              <td class="text-right">{{ "{:>0,.1f}".format(df.loc[i,'zeta']) }}</td>


            </tr>
        {% endfor %}


<!-- bottom row of table - use a couple of for loops with hardcoded numbers to make spacers -->
      <tr>
        <td><strong> TOTAL </strong></td>
        {% for i in range(6) %}
        <td><p class="text-right"> </p></td>
        {% endfor %}
        <td><strong><p class="text-right">{{ "{:>0,.0f}".format(totals['total']) }}</strong></p></td>


            {% if totals['total_ch'] >0 %} <td class="text-right bg-success"><strong>{{ "{:>0,.0f}".format(totals['total_ch']) }}</strong></td>
            {% elif totals['total_ch'] <0 %} <td class="text-right bg-danger"><strong>{{ "{:>0,.0f}".format(totals['total_ch']) }}</strong></td>
            {% else %} <td class="text-right"><strong>{{ "{:>0,.0f}".format(totals['total_ch']) }}</strong></td>
            {% endif %}

            {% if totals['total_perc_ch'] >0 %} <td class="text-right bg-success"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch']*100) }}</strong></td>
            {% elif totals['total_perc_ch'] <0 %} <td class="text-right bg-danger"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch']*100) }}</strong></td>
            {% else %} <td class="text-right"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch']*100) }}</strong></td>
            {% endif %}

        <td><strong><p class="text-right">{{ "{:>0,.2f}".format(totals['total_btc']) }}</strong></p></td>
        {% for i in range(4) %}
        <td><p class="text-right"> </p></td>
        {% endfor %}
      </tr>

<!-- add a row if have some fiat from crypto -->
    {% if bonus %}

      <tr>
        <td colspan=2>Fiat from crypto</td>
        {% for i in range(5) %}  <td class="text-right">-</td> {% endfor %}
        <td class="text-right"> {{ "{:>0,.0f}".format(bonus) }} </td>
        {% for i in range(7) %}  <td class="text-right">-</td> {% endfor %}
      </tr>


      <tr>
        <td colspan=7>Total with fiat</td>
        <td class="text-right"> {{ "{:>0,.0f}".format(totals['total'] + bonus) }} </td>
        <td colspan=7></td>
      </tr>


     {% endif %}

      </tbody>

  </table>
</div>

<div class="container">
    <a href="/reset/"">reload portfolio</a>
</div>

<script type="text/javascript">
  
  var in_data = {{ temp_dict | safe}};

  var coins = [];
  var vals = []; 

  for (var i = 0; i < in_data.length; i++) {
    coins.push(in_data[i].id);
    vals.push(in_data[i].msg);
  }


  var canvas = d3.select("body")
                .append("svg")
                .attr("width", 500)
                .attr("height", 200);


  console.log(in_data, coins, vals);




</script>

<style type="text/css">
  
#pv {
  font-weight: bold;
}
</style>


{% endblock %}
