{% extends "layout.html" %}

{% block head %}

{{ super() }}
<meta http-equiv="refresh" content="300"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}  

{% block title %}
{{ super() }}

{{ "£{:0,.0f}".format(totals['total']) }}

{% endblock %}


{% block content %}
<div class="container">

  <h1 style="margin-bottom: 50">Portfolio Value <small>for {{ user }} at {{ t_now }}</small></h1>

  <table class="table table-striped">
      <thead>
<!-- table header row -->
        <th class="text-left">Coin</th>
        <th class="text-left">Ticker</th>
        <th class="text-right">Price, £</th>
        <th class="text-right ch24"  style="display: none;">ch vs 24h</th>
        <th class="text-right chlast">vs {{t_since}} ago</th>
        <th class="text-right">Price, $</th>
        <th class="text-right">Price, m<i class="fa fa-btc"></i></th>
        <th class="text-right">Volume</th>
        <th class="text-right">Value, £</th>
        <th class="text-center ch24" colspan="2" style="display: none;">vs 24h ago</th>
        
        <th class="text-center chlast" colspan="2">vs {{t_since}} ago</th>
        <!-- <th class="text-right chlast">%</th> -->
        <th class="text-right">Value, <i class="fa fa-btc"></i></th>
        <th class="text-right">Share</th>
        <th class="text-right">Weight</th>
        <th class="text-right">£PPPW</th>        
      </thead>

      <tbody>
<!-- table body - loop thru coins -->
        {% for i in df.index %}
            <tr class={{i}}>
              <td>{{ i.title() }}</td>
              <td>{{ df.loc[i,'ticks'] }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'prices_gbp']) }}</td>

<!-- colour change block for price change-->
<!-- change vs 24h version -->
             {% if df.loc[i,'ch24h_gbp']>0 %} <td class="text-right bg-success ch24">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% elif df.loc[i,'ch24h_gbp']<0 %} <td class="text-right bg-danger  ch24">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% else %} <td class="text-right ch24">{{ "{:>0,.2f}".format(df.loc[i,'ch24h_gbp']) }}</td>
              {% endif %}

<!-- change vs last version -->
             {% if df.loc[i,'price_last_ch']>0 %} <td class="text-right bg-success chlast" style="display: none">{{ "{:>0,.2f}".format(df.loc[i,'price_last_ch']) }}</td>
              {% elif df.loc[i,'price_last_ch']<0 %} <td class="text-right bg-danger  chlast" style="display: none">{{ "{:>0,.2f}".format(df.loc[i,'price_last_ch']) }}</td>
              {% else %} <td class="text-right chlast" style="display: none">{{ "{:>0,.2f}".format(df.loc[i,'price_last_ch']) }}</td>
              {% endif %}


              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'prices_usd']) }}</td>
              <td class="text-right">{{ "{:>0,.1f}".format(df.loc[i,'prices_btc']*1000) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'vols']) }}</td>
              <td class="text-right">{{ "{:>0,.0f}".format(df.loc[i,'values']) }}</td>

<!-- colour change blocks for change in value -->
<!-- change vs 24h version -->
              {% if df.loc[i,'value_24h_ch']>0 %} <td class="text-right bg-success ch24">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% elif df.loc[i,'value_24h_ch']<0 %} <td class="text-right bg-danger ch24">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% else %} <td class="text-right ch24">{{ "{:>0,.0f}".format(df.loc[i,'value_24h_ch']) }}</td>
              {% endif %}
<!-- change vs last version -->
              {% if df.loc[i,'value_last_ch']>0 %} <td class="text-right bg-success chlast" style="display: none">{{ "{:>0,.0f}".format(df.loc[i,'value_last_ch']) }}</td>
              {% elif df.loc[i,'value_last_ch']<0 %} <td class="text-right bg-danger chlast" style="display: none">{{ "{:>0,.0f}".format(df.loc[i,'value_last_ch']) }}</td>
              {% else %} <td class="text-right chlast" style="display: none">{{ "{:>0,.0f}".format(df.loc[i,'value_last_ch']) }}</td>
              {% endif %}


<!-- colour change blocks for change in value, percent -->
<!-- change vs 24h version -->
              {% if df.loc[i,'val_pcent_24h_ch']>0 %} <td class="text-right bg-success ch24">{{ "{:>0,.1f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% elif df.loc[i,'val_pcent_24h_ch']<0 %} <td class="text-right bg-danger ch24">{{ "{:>0,.1f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% else %} <td class="text-right ch24">{{ "{:>0,.0f}%".format(df.loc[i,'val_pcent_24h_ch']*100) }}</td>
              {% endif %}
<!-- change vs last version -->
              {% if df.loc[i,'value_last_ch_per']>0 %} <td class="text-right bg-success chlast" style="display: none">{{ "{:>0,.1f}%".format(df.loc[i,'value_last_ch_per']*100) }}</td>
              {% elif df.loc[i,'value_last_ch_per']<0 %} <td class="text-right bg-danger chlast" style="display: none">{{ "{:>0,.1f}%".format(df.loc[i,'value_last_ch_per']*100) }}</td>
              {% else %} <td class="text-right chlast" style="display: none">{{ "{:>0,.0f}%".format(df.loc[i,'value_last_ch_per']*100) }}</td>
              {% endif %}


              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'values_btc']) }}</td>

              <td class="text-right">{{ "{:>0,.1f}%".format(df.loc[i,'shares']*100) }}</td>
              <td class="text-right">{{ "{:>0,.2f}".format(df.loc[i,'weight']) }}</td>
              <td class="text-right" id="pppw">{{ "{:>0,.0f}".format(df.loc[i,'£PPPW']) }}</td>

            </tr>
        {% endfor %}


<!-- bottom row of table - use a couple of for loops with hardcoded numbers to make spacers -->
      <tr>
        <td><strong> TOTAL </strong></td>
        {% for i in range(6) %}
        <td><div class="text-right"> </td>
        {% endfor %}
        <td><strong><div class="text-right">{{ "{:>0,.0f}".format(totals['total']) }}</strong></td>

            <!-- change vs 24h version -->
            {% if totals['total_ch'] >0 %} <td class="text-right bg-success ch24"><strong>{{ "{:>0,.0f}".format(totals['total_ch']) }}</strong></td>
            {% elif totals['total_ch'] <0 %} <td class="text-right bg-danger ch24"><strong>{{ "{:>0,.0f}".format(totals['total_ch']) }}</strong></td>
            {% else %} <td class="text-right ch24"><strong>{{ "{:>0,.0f}".format(totals['total_ch']) }}</strong></td>
            {% endif %}

            {% if totals['total_perc_ch'] >0 %} <td class="text-right bg-success ch24"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch']*100) }}</strong></td>
            {% elif totals['total_perc_ch'] <0 %} <td class="text-right bg-danger ch24"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch']*100) }}</strong></td>
            {% else %} <td class="text-right"><strong ch24>{{ "{:>0,.1f}%".format(totals['total_perc_ch']*100) }}</strong></td>
            {% endif %}

            <!-- change vs last version -->
            {% if totals['total_ch_last'] >0 %} <td class="text-right bg-success chlast" style="display: none"><strong>{{ "{:>0,.0f}".format(totals['total_ch_last']) }}</strong></td>
            {% elif totals['total_ch_last'] <0 %} <td class="text-right bg-danger chlast" style="display: none"><strong>{{ "{:>0,.0f}".format(totals['total_ch_last']) }}</strong></td>
            {% else %} <td class="text-right chlast" style="display: none"><strong>{{ "{:>0,.0f}".format(totals['total_ch_last']) }}</strong></td>
            {% endif %}

            {% if totals['total_perc_ch_last'] >0 %} <td class="text-right bg-success chlast" style="display: none"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch_last']*100) }}</strong></td>
            {% elif totals['total_perc_ch_last'] <0 %} <td class="text-right bg-danger chlast" style="display: none"><strong>{{ "{:>0,.1f}%".format(totals['total_perc_ch_last']*100) }}</strong></td>
            {% else %} <td class="text-right"><strong chlast>{{ "{:>0,.1f}%".format(totals['total_perc_ch_last']*100) }}</strong></td>
            {% endif %}

        <td><strong><div class="text-right">{{ "{:>0,.2f}".format(totals['total_btc']) }}</strong></td>
        {% for i in range(3) %}
        <td><div class="text-right"> </td>
        {% endfor %}
      </tr>

<!-- add a row if have some fiat from crypto -->
    {% if bonus %}

      <tr>
        <td colspan=2>Fiat from crypto</td>
        {% for i in range(5) %}  <td class="text-right">-</td> {% endfor %}
        <td class="text-right"> {{ "{:>0,.0f}".format(bonus) }} </td>
        {% for i in range(7) %}  <td class="text-right">-</td> {% endfor %}
      </tr>


      <tr>
        <td colspan=7>Total with fiat</td>
        <td class="text-right"> {{ "{:>0,.0f}".format(totals['total'] + bonus) }} </td>
        <td colspan=7></td>
      </tr>


     {% endif %}

      </tbody>

  </table>

<a href="/reset/"">reload portfolio</a>

<button type="button" class="btn btn-primary btn-xs pull-right" id="ch24_button">change vs 24h ago</button>
<button type="button" class="btn btn-primary btn-xs pull-right" id="chlast_button" style="display: none;">change vs last</button>

</div>



<script type="text/javascript">
  
  var in_data = {{ temp_dict | safe}};

  var coins = [];
  var vals = []; 

  for (var i = 0; i < in_data.length; i++) {
    coins.push(in_data[i].id);
    vals.push(in_data[i].msg);
  }


  var canvas = d3.select("body")
                .append("svg")
                .attr("width", 500)
                .attr("height", 200);


  console.log(in_data, coins, vals);



$(document).ready(function(){
    // $("#by_game").hide();

    $("#chlast_button").click(function(){
        $("#chlast_button").hide();
        $("#ch24_button").show();
        $(".ch24").hide();
        $(".chlast").show();
        // hide ch_24 col
        // show ch_last col
    });

    $("#ch24_button").click(function(){
        $("#chlast_button").show();
        $("#ch24_button").hide();
        $(".ch24").show();
        $(".chlast").hide();
    });

});




</script>

<style type="text/css">
  
#pv {
  font-weight: bold;
}
</style>


{% endblock %}
